@font-face {
    font-family: "highway-gothic";
    src: url('/fonts/highway-gothic/HWYGWDE.TTF') format('truetype');
}

@font-face {
    font-family: "highway-gothic-wide";
    src: url('/fonts/highway-gothic/HWYGEXPD.TTF') format('truetype');
}

:root {
    --color-text: black;
    --color-text-soft: rgba(0, 0, 0, 0.2);
    --color-background: white;
    --color-background-transparent: rgba(255, 255, 255, 0.7);
    --color-drop-shadow: rgba(255, 255, 255, 0.7);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: white;
        --color-text-soft: rgba(255, 255, 255, 0.3);
        --color-background-transparent: rgba(0, 0, 0, 0.7);
        --color-background: black;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* h1,
h2,
h3,
h4 {
    font-family: "highway-gothic-wide", sans-serif;
}

* p,
a {
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--color-background);
    color: var(--color-text);
}

header {
    position: fixed;
    left: 0;
    right: 0;
    padding: 35px 60px 35px 60px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

header .header-logo {
    width: 175px;
    height: auto;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 10px;
}

header ul li a {
    pointer-events: auto; /* delete if you want the navbar to not work. */
    font-family: highway-gothic-wide;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 4px 12px;
    margin: 2px 3px;
    border-radius: 20px;
    transition-duration: 0.3s;
}

header ul li {
	pointer-events: none; /* makes it so hovering over only li and not the link does not trigger just the animation on the li element */
	border-radius: 9999px;
	background-color: rgba(0 255 0 0);
	margin: 9px 4px 9px 14px;
	transition: padding 0.5s, margin 0.5s;
}

@property --angle {
	syntax: '<angle>';
	initial-value: -20deg;
	inherits: false;
}

header ul li:hover {
	padding: 9px 4px 9px 4px;
	margin: 0px 0px 0px 10px;
	--angle: -20deg;
	background-image: linear-gradient(var(--angle), lightgreen, darkgreen);
       	box-shadow: calc(2px * cos(var(--angle))) calc(2px * sin(var(--angle))) 7px 2px rgba(0, 90, 0, 0.75),
       	calc(2px * cos(calc(var(--angle) + 180deg))) calc(2px * sin(calc(var(--angle) + 180deg))) 7px 2px rgba(0, 200, 0, 0.75); /* I hate that I'm actually using trig stuff in the real world, and in CSS of all things. it's fucked in older browsers though. TODO: write some JS to increase compatibility for sin and cos or convert to plain calc */
	transition: padding 0.5s, margin 0.5s;
	animation: button 2s linear infinite;
}

header ul li:active {
	padding: 6px 0px 6px 0px;
	margin: 3px 4px 3px 14px;
}

@keyframes button {
	0% { --angle: -20deg; }
	25% { --angle: 20deg; }
	50% { --angle: 160deg; } /* these numbers are NOT arbitrary. I used a LOT of math to get them. DO NOT FUCK WITH THEM. lol. */
	75% { --angle: 200deg; }
	100% { --angle: 340deg; }
}

header ul li a:hover,
a.active { 
    padding: 6px 15px;
    margin: 0px 0px;
    background-color: white;
    color: #222222;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

header ul li a.active:hover {
	 background-color: rgb(255, 255, 255);
}

header ul li a.active {
    background-color: rgb(255, 255, 255, 0.7);
}


header ul li a:active {
    padding: 4px 12px;
    margin: 2px 3px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
}

.navbar-background-1, .navbar-background-2 {
	background-color: var(--color-background-transparent);
    backdrop-filter: blur(10px);
	top: 44px; /* fixes tiny gap from bug in browsers */
	margin-bottom: 20px;
	width: 100%;
	z-index: 1;
}

.navbar-background-1 {	
	box-shadow: 0px 20px 20px 10px var(--color-background);
    height: 50px;
}

.navbar-background-2 {
    position: sticky;
    position: -webkit-sticky;
    height: 110px;
	margin-top: -60px;
	top: -1px;
}

main {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

main hr {
    margin: 30px auto;
    width: 1200px;
    border: solid 1px var(--color-text-soft);
    border-radius: 500px;
}

.main-parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -2;
}

.parallax-layer-4 {
    transform: translateZ(-40px) scale(5.2);
    top: -1200px;
}

.parallax-layer-3 {
    transform: translateZ(-15px) scale(2.6);
    top: 175px;
}

.parallax-layer-2 {
    transform: translateZ(-5px) scale(1.6);
    top: 200px;
}

.parallax-layer-text {
    color: white;
    font-size: 70px;
    text-align: center;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
    max-width: 1200px;
    transform: translateZ(-10px) scale(2);
}

.parallax-layer-1 {
    background-image: linear-gradient(transparent,
            transparent,
            var(--color-background));
    top: 202px;
}

.parallax-layer-4,
.parallax-layer-3,
.parallax-layer-2,
.parallax-layer-1 {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -2;
}

.main-content-wrapper {
    position: relative;
    top: 200px;
    background-color: var(--color-background);
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 50px;
}

.main-content h1 {
    font-size: 34px;
    margin-bottom: 29px;
}

.main-content p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 27px;
}

.main-content img {
    width: 300px;
    height: auto;
    padding: 0 40px;
    margin: 30px;
    filter: drop-shadow(0px 0px 10px var(--color-drop-shadow));
}

footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

footer h1,
h2,
h3,
h4 {
    margin-bottom: 15px;
}

footer p,
i,
a {
    margin-bottom: 10px;
}

footer i {
    margin-right: 10px;
}

footer a {
    color: white;
}

footer a:hover {
    color: grey;
}

footer a:active {
    color: lightgray
}

footer ul li {
    list-style: none;
}

.footer-info {
    width: 200px;
    margin-right: 20px;
}

.footer-logo {
    font-size: 33px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}